@import 'tailwindcss';

@theme {
  /* primary */
  --color-primary: #ea3c12;

  /* gray */
  --color-gray-black: #111322;
  --color-gray-50: #7d7986;
  --color-gray-40: #a4a1aa;
  --color-gray-30: #cbc9cf;
  --color-gray-20: #e5e4e7;
  --color-gray-10: #f2f2f3;
  --color-gray-5: #fafafa;
  --color-white: #ffffff;

  /* red */
  --color-red-40: #ff4040;
  --color-red-30: #ff8d72;
  --color-red-20: #ffaf9b;
  --color-red-10: #ffebe7;

  /* blue */
  --color-blue-20: #0080ff;
  --color-blue-10: #cce6ff;

  /* green */
  --color-green-20: #20a81e;
  --color-green-10: #d4f7d4;

  /* violet */
  --color-violet: #5534da;

  /* custom */
  --color-kakao: #fee500;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .swiper-pagination-bullet {
    background-color: theme('colors.black') !important;
  }

  .swiper-pagination-bullet-active {
    background-color: theme('colors.primary') !important;
  }

  /* h1 */
  .tj-h1 {
    @apply text-[28px] font-bold leading-normal tracking-[0.56px];
  }

  /* h2 */
  .tj-h2 {
    @apply text-[24px] font-bold leading-normal tracking-[0.48px];
  }

  /* h3 */
  .tj-h3 {
    @apply text-[20px] font-bold leading-normal;
  }

  /* h4 */
  .tj-h4 {
    @apply text-[18px] font-bold leading-normal;
  }

  /* body 1 - bold */
  .tj-body1-bold {
    @apply text-[16px] font-bold leading-[20px];
  }

  /* body 1 - regular(default) */
  .tj-body1 {
    @apply text-[16px] font-normal leading-[26px];
  }

  /* body 2 - bold */
  .tj-body2-bold {
    @apply text-[14px] font-bold leading-normal;
  }

  /* body 2 - regular(default) */
  .tj-body2 {
    @apply text-[14px] font-normal leading-[22px];
  }

  /* caption */
  .tj-caption {
    @apply text-[12px] font-normal leading-[16px];
  }

  /* Swiper pagination 커스텀 */
  .custom-swiper {
    --swiper-theme-color: #ff8d72; /* red-30 */
    --swiper-pagination-color: #ff8d72;
    --swiper-pagination-bullet-inactive-color: #cbc9cf; /* gray-30 */
    --swiper-pagination-bullet-inactive-opacity: 1;
  }
  .custom-swiper .swiper-pagination {
    position: static;
    margin-top: 8px;
  }
  .custom-swiper .swiper-pagination-bullet {
    background-color: var(--swiper-pagination-bullet-inactive-color) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity) !important;
  }
  .custom-swiper .swiper-pagination-bullet-active {
    background-color: var(--swiper-pagination-color) !important;
  }
}

/* 크롬, 사파리, 엣지 (웹킷 계열) 숫자 input 스피너 제거 */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 파이어폭스 숫자 input 스피너 제거 */
input[type='number'] {
  -moz-appearance: textfield;
}
